body{
    color: white;
    background-color: rgb(42, 105, 42);
    font-family: "Patrick Hand", cursive;
}

a {
    color: white;
}
iframe {
    width: 640px;
    height: 360px;
}



@media screen and (max-width: 480px) {
    iframe {
        width: 98vw;
        height: 56vw;
    }
}